/* ========================================
    共通
========================================= */

.about_body {
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Sans", "Meiryo", sans-serif;
  font-size: 18px;
  color: #222;
  line-height: 1.8;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
}

.about_body p {
  margin-bottom: 24px;
}

.about_body p:last-child  {
  margin-bottom: 48px;
}


/* メインビジュアル */
#main_visual {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  object-fit: cover;
}

.about_wrapper {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
}

.about_h1 {
  color: #00A7EA;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.about_h2 {
  color: #00A7EA;
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0 24px;
}

.figure {
  width: 100%;
  text-align: center;
  margin: 36px 0;
}

.about_img {
  width: 100%;
}

.about_h3 {
  color: #00A7EA;
  font-size: 24px;
  font-weight: bold;
  margin: 24px auto 48px;
  text-align: center;
}
