.contents_page{
    padding-top: 30px;
    font-size: 2rem;
    width: 98%;
    min-height: 100vh;
    display: grid;
    grid-template: 
        "left   left   left   left   right"
        "left   left   left   left   right"
        "footer footer footer footer right"
        "footer footer footer footer right"
        "footer footer footer footer right"
        "footer footer footer footer right"
        "footer footer footer footer right"
        "footer footer footer footer right";
}

.contents_main{
    grid-area: left;
}

#pdf_wrapper{
    text-align: center;
}

.pdf_naiyou {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 10px;
    text-align: left;
}

.rela_cate{
    color: blue;
    font-weight: bold;
}

#pdf_file{
    width: 500px;
    height: 730px;
    border: 3px solid grey;

}

.contents_name{
    font-size: 0.8em;
    padding-bottom: 20px;
}

.contents_like{
    font-size: 0.7em;
}

#btn_wrapper{
    padding-top: 20px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    display: flex;
    align-items: center;
}

#shere_btn{
    font-size: 0.5em;
    font-weight: bold;
    padding: 8px 10px;
    margin-right: 20px;
    background-color: #2792c3;
    color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}

#shere_btn:hover{
    background-color:  #34ade6;
    color: #fff;
}

#like_btn{
    font-size: 0.5em;
    font-weight: bold;
    padding: 8px 10px;
    margin-right: 10px;
    background-color: #2792c3;
    color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}

#like_btn:hover{
    background-color:  #34ade6;
    color: #fff;
}

.contents_aside{
    grid-area: right;
    background: #EEEEEE;
    display: block;
    margin: 16px 0px 17px 0px;
    border: solid 0.5px #DDDDDD;
}

.recomend_category {
    font-size: 24px;
    padding-top: 16px;
    text-align: center;
}

.content-img img {
    /* width: 6.0em;
    min-height: 100px; */
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.samune{
    width: 318px;
    height: 150px;
}
  
.card-3 {
    width: 12em;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 20px;
    cursor: pointer;
    border: 0.5px solid #CCCCCC;
    border-radius: 3px;
    transition: 0.3s;
    background: white;
}

.content-img {
    padding: 0.4em 0;
    text-align: center;
    background: #D7EEFF;}

.content {
    padding: 0.4em 0;
}

.title,
.post-day {
    position: relative;
    padding: 0 0.3em;
    margin: 0;
    font-size: 0.4em;
    line-height: 1.5;
}

.post-day {
    padding: 0 0.3em;
    font-size: 0.4em;
    color: #777;
}

.contents_comment{
    grid-area: footer;
}

/* .comment_wrapper{
    padding-left: 20px;
}

.comment_name{
    font-size: 0.6em;
}

#comment_area{
    border: solid 1px;
    font-size: 15px;
    resize: none;
}

#comment_send{
    font-size: 0.5em;
    font-weight: bold;
    padding: 8px 10px;
    background-color: #2792c3;
    color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;  
}

#comment_send:hover{
    background-color:  #34ade6;
    color: #fff;
} */



.comment_wrapper {
    margin-right: auto;
    margin-left: auto;
    padding: 30px 20px;
    max-width: 640px;
    font-size: 0.5em;
}

.toukou_name{
    padding-bottom: 10px;
    padding-left: 10px;
}
  
.FlexTextarea {
    position: relative;
    font-size: 1rem;
    line-height: 1.8;
}

.FlexTextarea__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    min-height: 120px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
}

.FlexTextarea__textarea {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5px 15px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #b6c3c6;
    border-radius: 4px;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
}

.FlexTextarea__textarea:focus {
    box-shadow: 0 0 0 4px#34ade6;
    outline: 0;
}

#comment_send{
    font-size: 0.5em;
    font-weight: bold;
    padding: 8px 10px;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    background-color: #2792c3;
    color: #fff;
    border-style: solid;
    /* box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;   */
}

#comment_send:hover{
    background-color:  #34ade6;
    color: #fff;
}

.fav_box_contents{

}

.fab_img_contents {
    font-size: 24px;
}

.fav_img_contents {
    width: 25px;
    margin-left: 72%;
}