/* ========================================
    共通
========================================= */

.rulebody {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.8em;
  letter-spacing: 0.8em;
  margin: 0;
}

/* 利用規約 */
.rule_wrapper {
  width: 70%;
  margin: 36px auto;
  font-size: 16px;
  color: #222;
  line-height: 1.8em;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 28px;
  margin: 20px 0;
}

p, li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin: 20px 0;
}

ol li {
  list-style-type: decimal;
  margin-left: 30px;
}

ol ol li {
  list-style-type: decimal;
  margin-left: 60px;
}